.lend {
  max-width: 650px;
  margin: 0 auto;
  .empty {
    width: 100%;
    max-width: 650px;
    height: 100%;
    background: #191a1a;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    margin-top: 60px;
    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.6;

      letter-spacing: 0.02em;

      color: #7d8282;
      align-self: center;
    }
    h5 {
      font-weight: 400;
      font-size: 40px;
      line-height: 1.1;

      color: #edf0eb;
      margin: 0 5px;
      margin-top: 5px;
      @media (max-width: 576px) {
        font-size: 35px;
      }
      @media (max-width: 500px) {
        text-align: center;
        margin-top: 4px;
        margin-left: 5px;
      }
      @media (max-width: 440px) {
        font-size: 30px;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 2.2;
      letter-spacing: 0.02em;
      text-transform: capitalize;

      color: #7d8282;
      text-align: right;
      @media (max-width: 576px) {
        font-size: 14px;
      }
      @media (max-width: 500px) {
        text-align: center;
        margin-bottom: 20px;
      }
      @media (max-width: 440px) {
        font-size: 12px;
      }
    }

    .lend-share-value {
      text-align: left;
      min-width: 65px;
      @media (max-width: 500px) {
        display: none;
      }
    }

    .lend-share-value-bold {
      @media (max-width: 500px) {
        margin-left: 15px;
      }
    }

    .lend-share-value-mobile {
      @media (min-width: 501px) {
        display: none;
      }
    }
    .d-flex {
      @media (max-width: 500px) {
        justify-content: center;
      }
    }

    .d-block {
      margin-right: -10px;
    }
    .question_img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .dai_img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      @media (max-width: 576px) {
        width: 38.5px;
        height: 38.5px;
      }
      @media (max-width: 440px) {
        width: 33px;
        height: 33px;
      }
    }
    .margin_small {
      margin-top: 67px;
    }
    .flex_class {
      display: flex;
      justify-content: space-between;
      @media (max-width: 500px) {
        display: block;
      }
    }
    .common_btn {
      border-radius: 100px;
      padding: 20px 40px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;

      align-items: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      width: 100%;
      margin-top: 15px;
    }
    .deposit {
      background: #7e3ac3;
      color: #edf0eb;
      border: 2px solid transparent;
      &:hover {
        background: transparent;
        border: 2px solid #7e3ac3;
        color: #7e3ac3;
        transition: all 0.3s ease-in-out;
      }
    }
    .deposit-container {
      text-align: right;
    }
    .withdraw {
      background: #0f1010;
      color: #646868;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid #646868;
      }
    }
  }
}
